@font-face {
    font-family: NotoSans;
    src: url(../fonts/NotoSans-Regular.ttf);
}

:root {
    --nav-bg-color: #4D5250;
    --nav-fg-color: rgb(184,186,185);
    --nav-bg-color--selected: #D39B46;
    --nav-fg-color--selected: #FFFFFF;
}

html, body {
    -webkit-font-smoothing: antialiased !important;
    margin: 0px;
    padding: 0px;
    font-family: NotoSans,appleLogo,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    height: 100%;
}

.main-container {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
    height: 100%;
}

.nav-section {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-basis: 220px;
    flex-shrink: 0;
    min-width: 1px;
    max-width: 260px;
    background: var(--nav-bg-color);
    z-index: 201;
    box-sizing: content-box;
    visibility: visible;
}

.message-section {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-grow: 1;
    min-width: 1px;
}

.message-section-content {
    width: 100%;
    max-height: calc(100% - 60px);
    flex-grow: 1;
    overflow: auto;
}

.nav-section-header {
    padding: 0 12px 0 15px;
    margin: 0;
    width: 100%;
    height: 26px;
    display: flex;
    align-items: center;
    color: var(--nav-fg-color);
    font-size: 16px;
}

.nav-section-channel-link {
    padding: 0 0 0 30px;
}

    .nav-section-channel-link, .nav-section-channel-link a {
        display: flex;
        align-items: center;
        height: 26px;
        line-height: 26px;
        cursor: pointer;
        text-decoration: none;
        color: var(--nav-fg-color);
    }

        .nav-section-channel-link:hover {
            background-color: #4e6d9b;
        }

.nav-section-channel-link-unread, .nav-section-channel-link-unread a {
    font-weight: 700;
    color: white;
}

.nav-section-channel-link-selected, .nav-section-channel-link-selected a {
    background-color: var(--nav-bg-color--selected);
    color: var(--nav-fg-color--selected);
}

    .nav-section-channel-link-selected:hover {
        background-color: var(--nav-bg-color--selected);
    }

.input-area {
    display: flex;
    width: 100%;
    align-self: flex-end;
}

    .input-area input {
        width: 100%;
        font-family: NotoSans,appleLogo,sans-serif;
        font-size: 14px;
        height: 40px;
        margin: 10px 10px 10px 10px;
        padding: 0 10px 0 10px;
        outline: none;
        border: none;
        border: solid 1px #ccc;
        border-radius: 10px;
    }

.message-section-header {
    height: 50px;
    border: 0px solid #e0eeee;
    border-bottom-width: 1px;
}

.message {
    padding-top: 3px;
    padding-right: 40px;
    padding-bottom: 6px;
}

    .message:hover {
        background-color: #f8f8f8;
    }

.message-content {
    display: inline;
}

    .message-content p {
        display: inline;
    }

.message-gutter {
    float: left;
    text-align: right;
    font-size: 12px;
    color: grey;
    display: inline;
    width: 64px;
    margin-right: 16px;
}

.message-content-body {
    display: inline;
}

.message-content-header {
    display: inline;
    color: rgb(56,90,134);
}

.hover-show {
    color: transparent;
}

    .hover-show:hover {
        color: inherit;
    }

#new-message-scroll-warning {
    position: absolute;
    bottom: 60px;
    width: 100%;
}

    #new-message-scroll-warning p {
        background-color: #cc3434;
        margin: auto;
        text-align: center;
        width: fit-content;
        padding: 1px 10px 1px 10px;
        border-radius: 10px;
        color: white;
        cursor: pointer;
    }
